@import 'mixins';

$artist-animation-duration: 0.5s;
$animation-duration: 0.5s;

// This works well for ng-repeat
.artist {
  width: 100%;
  // margin: 0;
  // padding: 0;
  &.ng-enter, &.ng-leave {
    position: absolute;
  }
  &.ng-enter {
    animation: fadeInDown $artist-animation-duration;
  }
  &.ng-leave {
    animation: fadeOutDown $artist-animation-duration;
  }
}

/* Have to set height explicity on ui-view
to prevent collapsing during animation */
.main-view2 {
  height: 200px;
}

.ui-view-container {
  position: relative;
}

.main-view {
  &.ng-enter, &.ng-leave {
    position: absolute;
    width: 100%;           // fixes wrapping of text during animation
  }
  &.ng-enter {
    animation: fadeIn $animation-duration;
  }
  &.ng-leave {
    animation: fadeOut $animation-duration;
  }
}
